[Unit]
Description=Minecraft server service
After=network.target

[Service]
Type=exec
WorkingDirectory=/root
ExecStart=java -Xms{{ minecraft_ram }} -Xmx{{ minecraft_ram }} -XX:+UseLargePages -XX:LargePageSizeInBytes=2m -jar /root/spigot.jar --noconsole nogui

[Install]
WantedBy=multi-user.target
