#Minecraft server properties
#Sat Mar 18 20:20:47 UTC 2023
enable-jmx-monitoring=false
rcon.port={{ minecraft_server_prop.rcon_port }}
level-seed={{ minecraft_server_prop.level_seed }}
gamemode={{ minecraft_server_prop.game_mode }}
enable-command-block={{ minecraft_server_prop.enable_command_block }}
enable-query={{ minecraft_server_prop.enable_query }}
generator-settings={}
enforce-secure-profile=true
level-name={{ minecraft_server_prop.level_name }}
motd={{ minecraft_server_prop.motd }}
query.port={{ minecraft_server_prop.query_port }}
pvp={{ minecraft_server_prop.pvp }}
generate-structures={{ minecraft_server_prop.generate_structures }}
max-chained-neighbor-updates=1000000
difficulty={{ minecraft_server_prop.difficulty }}
network-compression-threshold=256
max-tick-time={{ minecraft_server_prop.max_tick_time }}
require-resource-pack={{ minecraft_server_prop.require_resource_pack }}
use-native-transport=true
max-players={{ minecraft_server_prop.max_players }}
online-mode=true
enable-status=true
allow-flight={{ minecraft_server_prop.allow_flight }}
initial-disabled-packs=
broadcast-rcon-to-ops=true
view-distance={{ minecraft_server_prop.view_distance }}
server-ip={{ minecraft_server_prop.server_ip }}
resource-pack-prompt=
allow-nether={{ minecraft_server_prop.allow_nether }}
server-port={{ minecraft_server_prop.server_port }}
enable-rcon={{ minecraft_server_prop.enable_rcon }}
sync-chunk-writes=true
op-permission-level={{ minecraft_server_prop.op_permission_level }}
prevent-proxy-connections=false
hide-online-players=false
resource-pack={{ minecraft_server_prop.resource_pack }}
entity-broadcast-range-percentage=100
simulation-distance={{ minecraft_server_prop.simulation_distance }}
rcon.password={{ minecraft_server_prop.rcon_password }}
player-idle-timeout={{ minecraft_server_prop.player_idle_timeout }}
debug=false
force-gamemode=false
rate-limit={{ minecraft_server_prop.rate_limit }}
hardcore={{ minecraft_server_prop.hardcore }}
white-list={{ minecraft_server_prop.white_list }}
broadcast-console-to-ops=true
spawn-npcs={{ minecraft_server_prop.spawn_npcs }}
spawn-animals={{ minecraft_server_prop.spawn_animals }}
function-permission-level={{ minecraft_server_prop.function_permission_level }}
initial-enabled-packs=vanilla
level-type={{ minecraft_server_prop.level_type }}
text-filtering-config=
spawn-monsters={{ minecraft_server_prop.spawn_monsters }}
enforce-whitelist={{ minecraft_server_prop.enforce_whitelist }}
spawn-protection={{ minecraft_server_prop.spawn_protection }}
resource-pack-sha1={{ minecraft_server_prop.resource_pack_sha1 }}
max-world-size={{ minecraft_server_prop.max_world_size }}
